{% extends 'admin/base.html' %}

{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function Notifications() {
            notif_code = '{{ notif }}'
            if (notif_code.length > 0) {
                flagSuccessStatus = false
                console.log(notif_code)
                flagContent = document.getElementById('notification-header')
                contentBlock = document.getElementById('notification-content')
                switch (notif_code) {
                    case "submitSuccess":
                        flagSuccessStatus = true
                        contentBlock.textContent = "Đơn hẹn đã được đặt thành công"
                        break
                    case "justOneADay":
                        flagSuccessStatus = false
                        contentBlock.textContent = "Đơn hẹn ngày hôm nay của khách hàng đã được đặt. Trùng lịch hẹn."
                        break
                    case "ExistOne":
                        flagSuccessStatus = false
                        contentBlock.textContent = "Thời gian hẹn của khách hàng bị trùng lịch hẹn. Vui lòng đăng ký hẹn thời điểm khác."
                        break

                    default:
                        flagSuccessStatus = false
                        contentBlock.textContent = "Thao tác chưa được xử lý. Lỗi không xác định (0x000)"
                }
                if (flagSuccessStatus) {
                    flagContent.textContent = "THÀNH CÔNG"
                    flagContent.setAttribute('style', 'color: green;')
                    $('#notification-button-dismiss').addClass('btn-success')
                }
                else {
                    flagContent.textContent = "THẤT BẠI"
                    flagContent.setAttribute('style', 'color: red;')
                    $('#notification-button-dismiss').addClass('btn-danger')
                }
                jQuery.noConflict();
                $('#notification-modal').modal('show');
            }
        }
    </script>
    <div style="border: 1px solid lightgray; margin-top: 20px " >
        <div>
            <h3 style="font-weight:normal" class="cold-xs-12 col-md-4 m-4">Các chức năng liên quan</h3>
        </div>
        <div style="padding: 30px " class="d-md-flex flex-row container b-0" >
            <div style="text-align: center" class="cold-xs-12 col-md-3 m-4">
                <div>
                    <i class="glyphicon glyphicon-plus-sign" style='font-size:80px'></i>
                </div>

                <a target="_self" href="#" data-toggle="modal" data-target="#myModal"
                   style="text-decoration: none; color: black; font-size: 18px" type="button" class="btn btn-link " >
                    Đặt hẹn tại quầy</a>
                <div class="modal " id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 style="text-align: center" class="modal-title ">ĐẶT HẸN TẠI QUẦY</h4>
                            </div>
                            <!-- Modal body -->
                            <div style="height: 300px; text-align: left" class="modal-body  ">
                                <form action="{{ url_for('new_orderCus') }}" method="post">
                                    <div class="d-flex flex-row my-4">
                                        <label class="col-md-2" for="customer-fname">Tên</label>
                                        <input class="col-md-4 text-center" type="text" id="customer-fname" name="customer-fname"
                                               placeholder="Nhập họ" autocomplete="off" />
                                        <label class="px-4 col-md-2" for="customer-lname">Họ</label>
                                        <input class="col-md-4 text-center" type="text" id="customer-lname" name="customer-lname"
                                               placeholder="Nhập tên" autocomplete="off" />
                                    </div>
                                    <div class="d-flex flex-row my-4">
                                        <label class="col-md-2" for="customer-birth">Ngày sinh</label>
                                        <input class="col-md-4" type="date" id="customer-birth" name="customer-birth"
                                              autocomplete="off" />
                                        <label class="px-4 col-md-2" for="customer-gender">Giới tính</label>
                                        <select class="col-md-4" id="customer-gender" name="customer-gender">
                                            <option id="gender-1" value="1">Nam</option>
                                            <option id="gender-2" value="2">Nữ</option>
                                            <option id="gender-3" value="3">Khác</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-row my-4">
                                        <label class="col-md-2" for="customer-phone">Số điện thoại</label>
                                        <input class="col-md-10 text-center" id="customer-phone" name="customer-phone" type="text" maxlength="10" placeholder="0774723xxx"
                                             />
                                    </div>
                                    <div class="d-flex flex-row my-4">
                                        <label class="col-md-2" for="order-date">Hẹn vào</label>
                                        <input class="col-md-10" id="order-date" type="datetime-local" name="order-date"
                                               onchange="CheckOrderDateTime(this.id, 'alert-for-order-date')" required/></br>
                                    </div>
                                    <span class="badge badge-danger col-md-12 ml-2" id="alert-for-order-date"></span>
                                    <div  class="d-flex flex-row my-4">
                                        <label class="col-md-2" for="customer-note">Ghi chú</label>
                                        <textarea class="col-md-10" name="customer-note" id="customer-note" placeholder="Tối đa 255 ký tự"maxlength="255"></textarea>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Đặt hẹn</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center" class="cold-xs-12 col-md-4 m-4">
                <div>
                    <i class=" fa fa-list-alt" style='font-size:80px'></i>
                </div>
                <a target="_self" href="#" data-toggle="modal" data-target="#Xemlichhen"
                        style="text-decoration: none; color: black; font-size: 18px" type="button" class="btn btn-link " >
                    Xem Lịch Hẹn</a>
                <div class="modal " id="Xemlichhen">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 style="text-align: center" class="modal-title ">Xác nhận lịch hẹn</h4>
                            </div>
                            <!-- Modal body -->
                            <form class="form-inline col-md-12">
                                <div class="col-md-6 row">
                                    <label for="customer_name">Tên khách hàng:</label>
                                    <input style="margin:15px; width: 338px" name="customer_name" type="text" class="form-control" placeholder="Nhập tên khách hàng" id="customer_name">
                                </div>
                                <div class="col-md-5 row">
                                    <label for="phoneNumber">Số điện thoại:</label>
                                    <input style="margin:15px; width: 284px" name="phoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại" id="phoneNumber">
                                </div>
                                <div class="col-md-1">
                                    <button style="margin-left:35px" type="submit" class="btn btn-primary right"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="container col-md-12 ">
                                <div style="padding-right: 20px" class="table-wrapper-scroll-y my-custom-scrollbar">
                                  <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                                    <thead >
                                      <tr>
                                        <th scope="col" class="text-center">Tên</th>
                                        <th scope="col" class="text-center th-sm">Tuổi</th>
                                        <th scope="col" class="text-center">Số điện thoại</th>
                                        <th scope="col" class="text-center">Địa chỉ</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for p in cus %}
                                      <tr class="text-center">
                                        <td >{{ p.first_name +" "+ p.last_name }}</td>
                                        <td>{{ now.year - p.birthday.year }}</td>
                                        <td>{{ p.phone_number }}</td>
                                        <td>{{ p.address_id}}</td>
                                        <td><button type="submit" class="btn btn-info">Xác nhận lịch hẹn</button></td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center" class="cold-xs-12 col-md-4 m-4">
                <div>
                    <i class=" far fa-clock" style='font-size:80px'></i>
                </div>
                <a target="_self" href="#" data-toggle="modal" data-target="#XemlichBieu"
                        style="text-decoration: none; color: black; font-size: 18px" type="button" class="btn btn-link " >
                    Xem Lịch Biểu</a>
                <div class="modal " id="XemlichBieu">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 style="text-align: center" class="modal-title ">Lich Biểu</h4>
                            </div>
                            <!-- Modal body -->
                            <h1>đang làm</h1>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container col-md-12" style="border: 1px solid lightgray; height: 600px; margin-top: 20px">
        <h3 class="pt-2" style="font-weight: normal">Danh sách chờ xác nhận: <span class="text-danger">3</span></h3>

        <div class="container col-md-12 ">
            <div style="padding-right: 20px" class="table-wrapper-scroll-y my-custom-scrollbar">
              <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead >
                  <tr>
                    <th scope="col" class="text-center">Tên</th>
                    <th scope="col" class="text-center th-sm">Tuổi</th>
                    <th scope="col" class="text-center">Số điện thoại</th>
                    <th scope="col" class="text-center">Địa chỉ</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in cus %}
                  <tr class="text-center">
                    <td >{{ p.first_name +" "+ p.last_name }}</td>
                    <td>{{ now.year - p.birthday.year }}</td>
                    <td>{{ p.phone_number }}</td>
                    <td>{{ p.address_id}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}